.clist{width : 300px; height: 200px; margin-top: 50px; margin-left: 200px;}
a{color: black; text-decoration: none;}
a:hover {text-decoration: underline;}
.listag{text-align: center; margin-left: 300px;font-size: 20px;}