div.select{width: 80%;height: 100px;margin-left: 200px;background-color: #999;}
#color{margin-left: 500px; width: 140px; height: 30px; margin-top: 30px;}
.tab{margin-left: 40px; width: 140px; height: 30px; margin-top: 30px;}
span{font-size: 30px; margin-top: 30px;}
button{width: 100px; height: 30px;background-color: black; margin-left: 50px;}
b#red{color: red; margin-left: 50px;}
b#find{color: white;}